--
-- PostgreSQL database dump
--

\restrict Tx506udZJ7zJlwWAUeaoGzD4QLSjQdWqZVuQdgldcNWmzR6VPKgLbJlGoxBp18V

-- Dumped from database version 16.15 (Debian 16.15-1.pgdg13+2)
-- Dumped by pg_dump version 16.15 (Debian 16.15-1.pgdg13+2)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alembic_version; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.alembic_version (
    version_num character varying(32) NOT NULL
);


ALTER TABLE public.alembic_version OWNER TO spivmova;

--
-- Name: line_translations; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.line_translations (
    id integer NOT NULL,
    text_hash character varying NOT NULL,
    source_text character varying NOT NULL,
    translation character varying NOT NULL,
    provider character varying NOT NULL,
    translated_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.line_translations OWNER TO spivmova;

--
-- Name: line_translations_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.line_translations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.line_translations_id_seq OWNER TO spivmova;

--
-- Name: line_translations_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.line_translations_id_seq OWNED BY public.line_translations.id;


--
-- Name: lyric_lines; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.lyric_lines (
    id integer NOT NULL,
    track_id integer NOT NULL,
    translation_id integer,
    "position" integer NOT NULL,
    "time" integer,
    text character varying NOT NULL
);


ALTER TABLE public.lyric_lines OWNER TO spivmova;

--
-- Name: lyric_lines_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.lyric_lines_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.lyric_lines_id_seq OWNER TO spivmova;

--
-- Name: lyric_lines_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.lyric_lines_id_seq OWNED BY public.lyric_lines.id;


--
-- Name: senses; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.senses (
    id integer NOT NULL,
    vocab_id integer NOT NULL,
    translation character varying NOT NULL,
    provider character varying NOT NULL,
    example_line_id integer,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


ALTER TABLE public.senses OWNER TO spivmova;

--
-- Name: senses_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.senses_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.senses_id_seq OWNER TO spivmova;

--
-- Name: senses_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.senses_id_seq OWNED BY public.senses.id;


--
-- Name: tokens; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.tokens (
    id integer NOT NULL,
    line_id integer NOT NULL,
    "position" integer NOT NULL,
    text character varying NOT NULL,
    start_char integer NOT NULL,
    end_char integer NOT NULL,
    vocab_id integer,
    sense_id integer
);


ALTER TABLE public.tokens OWNER TO spivmova;

--
-- Name: tokens_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.tokens_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tokens_id_seq OWNER TO spivmova;

--
-- Name: tokens_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.tokens_id_seq OWNED BY public.tokens.id;


--
-- Name: tracks; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.tracks (
    id integer NOT NULL,
    lrclib_id integer,
    track_name character varying NOT NULL,
    artist_name character varying NOT NULL,
    album_name character varying,
    duration double precision,
    instrumental boolean NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    youtube_video_id character varying
);


ALTER TABLE public.tracks OWNER TO spivmova;

--
-- Name: tracks_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.tracks_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.tracks_id_seq OWNER TO spivmova;

--
-- Name: tracks_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.tracks_id_seq OWNED BY public.tracks.id;


--
-- Name: vocabulary; Type: TABLE; Schema: public; Owner: spivmova
--

CREATE TABLE public.vocabulary (
    id integer NOT NULL,
    lemma character varying NOT NULL,
    pos character varying NOT NULL
);


ALTER TABLE public.vocabulary OWNER TO spivmova;

--
-- Name: vocabulary_id_seq; Type: SEQUENCE; Schema: public; Owner: spivmova
--

CREATE SEQUENCE public.vocabulary_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.vocabulary_id_seq OWNER TO spivmova;

--
-- Name: vocabulary_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: spivmova
--

ALTER SEQUENCE public.vocabulary_id_seq OWNED BY public.vocabulary.id;


--
-- Name: line_translations id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.line_translations ALTER COLUMN id SET DEFAULT nextval('public.line_translations_id_seq'::regclass);


--
-- Name: lyric_lines id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.lyric_lines ALTER COLUMN id SET DEFAULT nextval('public.lyric_lines_id_seq'::regclass);


--
-- Name: senses id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.senses ALTER COLUMN id SET DEFAULT nextval('public.senses_id_seq'::regclass);


--
-- Name: tokens id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tokens ALTER COLUMN id SET DEFAULT nextval('public.tokens_id_seq'::regclass);


--
-- Name: tracks id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tracks ALTER COLUMN id SET DEFAULT nextval('public.tracks_id_seq'::regclass);


--
-- Name: vocabulary id; Type: DEFAULT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.vocabulary ALTER COLUMN id SET DEFAULT nextval('public.vocabulary_id_seq'::regclass);


--
-- Data for Name: alembic_version; Type: TABLE DATA; Schema: public; Owner: spivmova
--

COPY public.alembic_version (version_num) FROM stdin;
ee24ce6fe730
\.


--
-- Data for Name: line_translations; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Data for Name: lyric_lines; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Data for Name: senses; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Data for Name: tokens; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Data for Name: tracks; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Data for Name: vocabulary; Type: TABLE DATA; Schema: public; Owner: spivmova
--



--
-- Name: line_translations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.line_translations_id_seq', 842, true);


--
-- Name: lyric_lines_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.lyric_lines_id_seq', 1423, true);


--
-- Name: senses_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.senses_id_seq', 2244, true);


--
-- Name: tokens_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.tokens_id_seq', 7336, true);


--
-- Name: tracks_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.tracks_id_seq', 102, true);


--
-- Name: vocabulary_id_seq; Type: SEQUENCE SET; Schema: public; Owner: spivmova
--

SELECT pg_catalog.setval('public.vocabulary_id_seq', 1653, true);


--
-- Name: alembic_version alembic_version_pkc; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.alembic_version
    ADD CONSTRAINT alembic_version_pkc PRIMARY KEY (version_num);


--
-- Name: line_translations line_translations_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.line_translations
    ADD CONSTRAINT line_translations_pkey PRIMARY KEY (id);


--
-- Name: line_translations line_translations_text_hash_key; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.line_translations
    ADD CONSTRAINT line_translations_text_hash_key UNIQUE (text_hash);


--
-- Name: lyric_lines lyric_lines_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.lyric_lines
    ADD CONSTRAINT lyric_lines_pkey PRIMARY KEY (id);


--
-- Name: senses senses_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.senses
    ADD CONSTRAINT senses_pkey PRIMARY KEY (id);


--
-- Name: tokens tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_pkey PRIMARY KEY (id);


--
-- Name: tracks tracks_lrclib_id_key; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tracks
    ADD CONSTRAINT tracks_lrclib_id_key UNIQUE (lrclib_id);


--
-- Name: tracks tracks_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tracks
    ADD CONSTRAINT tracks_pkey PRIMARY KEY (id);


--
-- Name: vocabulary vocabulary_lemma_pos_key; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.vocabulary
    ADD CONSTRAINT vocabulary_lemma_pos_key UNIQUE (lemma, pos);


--
-- Name: vocabulary vocabulary_pkey; Type: CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.vocabulary
    ADD CONSTRAINT vocabulary_pkey PRIMARY KEY (id);


--
-- Name: lyric_lines lyric_lines_track_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.lyric_lines
    ADD CONSTRAINT lyric_lines_track_id_fkey FOREIGN KEY (track_id) REFERENCES public.tracks(id);


--
-- Name: lyric_lines lyric_lines_translation_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.lyric_lines
    ADD CONSTRAINT lyric_lines_translation_id_fkey FOREIGN KEY (translation_id) REFERENCES public.line_translations(id);


--
-- Name: senses senses_example_line_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.senses
    ADD CONSTRAINT senses_example_line_id_fkey FOREIGN KEY (example_line_id) REFERENCES public.lyric_lines(id);


--
-- Name: senses senses_vocab_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.senses
    ADD CONSTRAINT senses_vocab_id_fkey FOREIGN KEY (vocab_id) REFERENCES public.vocabulary(id);


--
-- Name: tokens tokens_line_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_line_id_fkey FOREIGN KEY (line_id) REFERENCES public.lyric_lines(id);


--
-- Name: tokens tokens_sense_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_sense_id_fkey FOREIGN KEY (sense_id) REFERENCES public.senses(id);


--
-- Name: tokens tokens_vocab_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: spivmova
--

ALTER TABLE ONLY public.tokens
    ADD CONSTRAINT tokens_vocab_id_fkey FOREIGN KEY (vocab_id) REFERENCES public.vocabulary(id);


--
-- PostgreSQL database dump complete
--

\unrestrict Tx506udZJ7zJlwWAUeaoGzD4QLSjQdWqZVuQdgldcNWmzR6VPKgLbJlGoxBp18V

